In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("..\SimulatedUsers-Final_August4.csv", index_col=False)
# df = df.tail(-2)
df.drop(df.columns[[0, 1]], axis=1, inplace=True)
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv("../data-exploration-cleanup/cleaned_simulatedusers.csv", index_col=False)
# df = df.tail(-2)
df.drop(df.columns[[0, 1]], axis=1, inplace=True)
pd.set_option('display.max_columns', None)
df[["Q5", "Q5_gpt4"]]

   Q5         Q5_gpt4
0   4  Crested Auklet
1   1  Crested Auklet
2   4  Crested Auklet
3   1  Crested Auklet
4   1  Crested Auklet

In [5]:
df = pd.read_csv("../data-exploration-cleanup/cleaned_simulatedusers.csv", index_col=False)
# df = df.tail(-2)
df.drop(df.columns[[0, 1]], axis=1, inplace=True)
pd.set_option('display.max_columns', None)
df[["Q2"]]

                   Q2
0     Parakeet Auklet
1     Parakeet Auklet
2     Parakeet Auklet
3     Parakeet Auklet
4     Parakeet Auklet
5     Parakeet Auklet
6     Parakeet Auklet
7      Crested Auklet
8      Crested Auklet
9     Parakeet Auklet
10  Rhinoceros Auklet
11     Crested Auklet
12    Parakeet Auklet
13       Least Auklet
14     Crested Auklet
15     Crested Auklet
16    Parakeet Auklet
17    Parakeet Auklet
18    Parakeet Auklet
19  Rhinoceros Auklet
20    Parakeet Auklet
21    Parakeet Auklet
22    Parakeet Auklet
23     Crested Auklet
24     Crested Auklet
25    Parakeet Auklet
26    Parakeet Auklet
27    Parakeet Auklet
28     Crested Auklet
29    Parakeet Auklet
30     Crested Auklet
31    Parakeet Auklet
32     Crested Auklet
33    Parakeet Auklet
34    Parakeet Auklet
35     Crested Auklet
36       Least Auklet
37       Least Auklet
38     Crested Auklet
39    Parakeet Auklet
40    Parakeet Auklet
41    Parakeet Auklet
42     Crested Auklet
43    Parakeet Auklet
44       Least Auklet
45    Parakeet Auklet
46    Parakeet Auklet
47     Crested Auklet
48     Crested Auklet
49    Parakeet Auklet